<p class="panel-count">{{ albums|length }} albums</p>
<ul class="row-list" id="albums-list">
  {% for album in albums %}
  <li>
    <button type="button"
            class="row-button album-row"
            data-action="load-album"
            data-id="{{ album.id }}">
      <img class="album-thumb"
           src="/rest/getCoverArt?id={{ album.id }}&size=64"
           alt=""
           loading="lazy"
           onerror="this.removeAttribute('src')">
      <span class="album-text">
        <span class="album-title">{{ album.title }}</span>
        <span class="album-meta">
          {% if album.year %}<span class="album-year">{{ album.year }}</span>{% endif %}
          <span class="album-tracks">{{ album.track_count }} tracks</span>
        </span>
      </span>
    </button>
  </li>
  {% else %}
  <li class="empty">No albums for this artist.</li>
  {% endfor %}
</ul>
