<div class="album-heading">
  <span class="album-heading-title">{{ album_title }}</span>
  <span class="album-heading-artist">{{ album_artist }}</span>
</div>
<div class="track-table-header">
  <span class="th-no">#</span>
  <span class="th-title">Title</span>
  <span class="th-artist">Artist</span>
  <span class="th-time">Time</span>
</div>
<div class="track-table-rule"></div>
<ul class="row-list track-list">
  {% for track in tracks %}
  <li>
    <button type="button"
            class="row-button track-row"
            data-action="play-track"
            data-id="{{ track.id }}"
            data-album-id="{{ album_id }}"
            data-title="{{ track.title|e }}"
            data-artist="{{ track.artist|e }}">
      <span class="track-no">{{ "%2d" % track.track_no }}</span>
      <span class="track-title">{{ track.title }}</span>
      <span class="track-artist">{{ track.artist }}</span>
      <span class="track-time">{{ track.duration }}</span>
    </button>
  </li>
  {% else %}
  <li class="empty">No tracks on this album.</li>
  {% endfor %}
</ul>
